@import url("https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,400;7..72,500;7..72,700&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #085a9f;
}
body {
  font-size: 10px;
  font-family: "Literata", serif;
  color: #085a9f;
}

nav {
  /* border: 1px solid red; */
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 2rem;
  background: rgba(255, 255, 255, 0.7);
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}
nav ul li a {
  font-weight: 400;
  font-size: 1.1rem;
}

/* fullpage 네비 바 커스텀마이징 */
#fp-nav ul li a span,
#fp-slidesNav ul li a span {
  background: #085a9f;
}

/* background */
#sec0,
#sec1,
#sec2,
#sec3,
#sec4,
#sec5 {
  background: #fff;
}
/* wow js 섹션별로 사용이 가능 */

/* Common CSS*/
.inner {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3%;
}
.commonWrap {
  /* border: 1px solid red; */
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.commonTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2%;
}
.commonTitle h1 {
  font-size: 2.5rem;
  margin-right: 2.5rem;
}

/* Home CSS */
#sec0 .inner {
  position: fixed;
  height: 90%;
  bottom: 0;
  background: url(./img/sky.jpg) center center/cover no-repeat;
}
.homeWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.homeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.9;
  padding-bottom: 3rem;
  margin-left: 4rem;
  color: #fff;
}
.homeText h1 {
  font-size: 11rem;
  font-weight: 500;
}
.homeText p {
  font-size: 1.6rem;
  letter-spacing: 1rem;
  padding-left: 0.6rem;
}
/* About CSS */
.aboutTextBox {
  width: 100%;
  display: grid;
  grid-template-areas:
    "aboutImg aboutMe"
    "aboutImg education"
    "aboutImg certification";
  grid-template-columns: 1fr 1fr;
}
.aboutCommon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2%;
}
.aboutCommon h3 {
  border: 1px solid #085a9f;
  border-radius: 30px;
  font-size: 1.4rem;
  padding: 0 0.7rem;
  margin-bottom: 1.5rem;
}
.aboutImg {
  grid-area: aboutImg;
}
.aboutMe {
  grid-area: aboutMe;
}
.aboutCommon ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding-left: 0.7rem;
}
.aboutCommon li {
  font-size: 1rem;
}
.aboutCommon ul b {
  margin-right: 1rem;
}
.education {
  grid-area: education;
}
.certificate {
  grid-area: certification;
}
