/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 24px;
  right: 40px;
  z-index: 2;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 10px;
}
nav ul li a {
  font-size: 1.3em;
  color: #fff;
}
/* #nav_icon div {
  border: 1px solid red;
  position: relative;
  width: 100%;
  height: 100%;
}
#nav_icon div span {
  border: 1px solid red;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease-in-out;
} */
/* fullpage 네비 바 커스텀마이징 */
#fp-nav ul li a span,
#fp-slidesNav ul li a span {
  background: #f7a9fe;
}

/* background */
#sec0,
#sec1,
#sec2,
#sec3,
#sec4,
#sec5 {
  background: #222;
}
/* wow js 섹션별로 사용이 가능 */

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5%;
}
.homeWrap {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.homePic {
  border: 1px solid #fff;
  height: 500px;
}
.homeText {
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3%;
  padding-bottom: 3%;
}
.homeText {
  color: #fff;
  padding: 30px;
}
.homeText h1 {
  font-size: 70px;
  font-weight: bold;
}
.homeText span {
  content: "";
  width: 110px;
  height: 5px;
  margin-top: 10px;
  background: #fff;
}
.homeText .job {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  margin-top: 100px;
}
.homeText .job h4:nth-child(1) {
  opacity: 0.8;
  margin-right: 10px;
}
.homeText a {
  border: 1px solid #fff;
  width: 250px;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  background: #fff;
  color: #222;
}
.homeText a:hover {
  background: #222;
  color: #fff;
}
